/* Colors and styling */
:root {
  --PrimaryColor:hsl(199,100%,33%);
  --SecondaryColor:hsl(187,85%,43%);
  --gradientColor:linear-gradient(to right,hsl(187,85%,43%),hsl(199,100%,33%));
  --whiteColor: hsl(0,0%,100%);
  --blackColor:hsl(201,33%,16%);
  --textColor:hsl(240,4%,36%);
  --whiteColorDeam:hsl(0,0%,93%);
  --greyText:rgb(190,190,190);
  --inputColor:rgb(239,239,239);
  --bodyColor:rgb(240,240,246);
  --cardBG:rgb(225,225,235);
}

.payment {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.payment .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(47, 106, 127);
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}
.payment video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.payment .secContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 8rem 1.5rem 3rem;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: var(--whiteColor);
  z-index: 100;
}
.payment .singleDestination {
  height: 100%;
  display: grid;
  row-gap: 10px;
  border-radius: 10px;
  align-items: center;
  background: var(--cardBG);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
}
.payment .singleDestination:hover {
  background: var(--cardHover);
  box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
  transition: 0.3s ease-in-out;
}
.payment .singleDestination .destTitle {
  padding-top: 0px;
  color: var(--blackColor);
  font-size: 1.25rem;
  justify-self: center;
}
.payment .singleDestination .destTitle .icon {
  color: var(--PrimaryColor);
  font-size: 18px;
  margin-top: 50px;
}
.payment .singleDestination .imageDiv {
  height: 360px;
  width: 100%;
  padding: 20px;
}
.payment .singleDestination .imageDiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 2s ease;
}
.payment .singleDestination .imageDiv:hover img {
  transform: scale(1.1);
}
.payment .singleDestination .cardInfo {
  padding: 0rem 2rem 1rem 2rem;
}
.payment .singleDestination .cardInfo .destTitle {
  color: var(--blackColor);
  font-size: 1.25rem;
}
.payment .singleDestination .cardInfo .payDetail .input {
  height: 40px;
  padding: 0 1rem;
  background: var(--inputColor);
  border-radius: 3rem;
}
.payment .singleDestination .cardInfo .payDetail .input input {
  background: none;
  border: none;
  outline: none;
  z-index: 3;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
}
.payment .singleDestination .cardInfo .payDetail .input input::-moz-placeholder {
  font-size: 13px;
}
.payment .singleDestination .cardInfo .payDetail .input input::placeholder {
  font-size: 13px;
}
.payment .singleDestination .cardInfo .payDetail .input .icon {
  font-size: 18px;
  color: var(--PrimaryColor) !important;
  margin-left: 10px;
}
.payment .singleDestination .cardInfo .payDetail .searchOptions {
  background: var(--gradientColor);
  width: -moz-max-content;
  width: max-content;
  margin: 1rem;
  margin-left: 36%;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  padding: 10px 1rem;
  border-radius: 3rem;
  z-index: 5;
  justify-content: center;
  cursor: pointer;
}
.payment .singleDestination .cardInfo .payDetail .searchOptions:hover {
  background: var(--PrimaryColor);
}
.payment .singleDestination .cardInfo .payDetail .searchOptions .icon {
  font-size: 18px;
}
.payment .singleDestination .cardInfo .payDetail .searchOptions span {
  font-size: 13px;
}
.payment .singleDestination .cardInfo .continent {
  gap: 0.5rem;
}
.payment .singleDestination .cardInfo .continent .icon {
  color: var(--textColor);
  font-size: 18px;
  padding-top: 1rem;
}
.payment .singleDestination .cardInfo .continent .name {
  color: var(--textColor);
  font-weight: 400;
  font-size: 14px;
}
.payment .singleDestination .cardInfo .desc {
  font-size: 13.5px;
  color: var(--textColor);
  font-weight: 500;
}
.payment .singleDestination .cardInfo .btn {
  margin-top: 1rem;
  color: var(--whiteColor);
  font-weight: 600;
  justify-content: space-between;
  gap: 0.5rem;
}
.payment .singleDestination .cardInfo .btn .icon {
  align-self: center;
  font-size: 18px;
}
.payment .textDiv {
  padding: 2rem 0;
}
.payment .textDiv .smallText {
  font-size: 13px;
  text-transform: uppercase;
}
.payment .textDiv .bvrhomeTitle {
  position: relative;
  font-size: 1.8rem;
}
.payment .cardDiv {
  position: relative;
  padding: 2rem 1rem;
  background: var(--whiteColor);
  border-radius: 10px;
  gap: 1rem;
}
.payment .cardDiv label {
  display: block;
  color: var(--textColor);
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.payment .cardDiv .label_total {
  justify-content: space-between;
  align-items: center;
}
.payment .cardDiv .label_total .total {
  color: var(--textColor);
  font-size: 18px;
  padding-bottom: 10px;
}
.payment .cardDiv .input {
  height: 40px;
  padding: 0 1rem;
  background: var(--inputColor);
  border-radius: 3rem;
}
.payment .cardDiv .input input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
}
.payment .cardDiv .input input::-moz-placeholder {
  font-size: 13px;
}
.payment .cardDiv .input input::placeholder {
  font-size: 13px;
}
.payment .cardDiv .input .icon {
  font-size: 18px;
  color: var(--PrimaryColor) !important;
  margin-left: 10px;
}
.payment .cardDiv .input .input[type=range] {
  background: blue;
}
.payment .cardDiv .searchOptions {
  position: absolute;
  background: var(--gradientColor);
  width: -moz-max-content;
  width: max-content;
  bottom: -0.7rem;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  padding: 5px 1rem;
  border-radius: 3rem;
  margin: 1rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  place-self: center;
  cursor: pointer;
}
.payment .cardDiv .searchOptions:hover {
  background: var(--PrimaryColor);
}
.payment .cardDiv .searchOptions .icon {
  font-size: 18px;
}
.payment .cardDiv .searchOptions span {
  font-size: 13px;
}

@media screen and (min-width: 500px) {
  .bvrhome .bvrhomeContent .textDiv .smallText {
    font-size: 16px;
  }
  .bvrhome .bvrhomeContent .textDiv .bvrhomeTitle {
    position: relative;
    font-size: 2.3rem;
    width: -moz-max-content;
    width: max-content;
  }
  .bvrhome .bvrhomeContent .textDiv .bvrhomeTitle::after {
    position: absolute;
    content: "";
    background: var(--SecondaryColor);
    height: 5px;
    width: 145px;
    right: 0px;
    bottom: 5px;
    z-index: -1;
  }
  .bvrhome .bvrhomeContent .cardDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 660px) {
  .bvrhome .bvrhomeContent .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 940px) {
  .bvrhome {
    height: 80vh;
  }
}
@media screen and (min-width: 1240px) {
  .bvrhome {
    height: 100vh;
  }
  .bvrhome .bvrhomeContent {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .bvrhome .bvrhomeContent .cardDiv {
    margin-right: 1rem;
    margin-left: 0rem;
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .bvrhome .bvrhomeContent .cardDiv .input {
    margin-bottom: 1rem;
  }
  .bvrhome .bvrhomeContent .cardDiv .searchOptions {
    bottom: -1rem;
    padding: 8px 1rem;
  }
  .bvrhome .bvrhomeContent .cardDiv .searchOptions span {
    font-size: 17px;
  }
}/*# sourceMappingURL=payment.css.map */